
<div class="card" style=" margin: auto; width: 65%; ">
    <a [routerLink]="['/payment','DFB']" target="_blank" style="text-decoration: none; color: #212529; " >
        <img src="../assets/Four bed Non AC.jpg"
            class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text text-center">Deluxe 4 Bedded (Non AC)<br> Rs.1500</p>
        </div>
    </a>
</div>
<div class="card mb-3" style="margin: auto;width:fit-content;">
    <ul>
        <li>Four single beds or two double beds with comfortable mattresses and clean, quality bedding.</li>
        <li>Large windows and proper ventilation to allow natural airflow.</li>
        <li>Standard furniture, including chairs, a work desk, and possibly a seating area.</li>
        <li>Ample storage space such as a wardrobe and drawers.</li>
        <li>The size of the room is larger compared to rooms designed for fewer occupants, providing more space for the group or family.</li>
        <li>High-speed internet access and Wi-Fi connectivity.</li>
        <li>Private bathroom with a bathtub or a spacious shower.</li>
        <li>Telephone with direct dialing and voicemail services.</li>
        <li>USB charging ports and convenient electrical outlets.</li>
        <li><b>Limited room service options during specific hours.</b></li>
        <li>Depending on the hotel's location and design, the room may offer different views.</li>
        <li>Complimentary bottled water.</li>
        <li>Daily housekeeping and turndown service.</li>
        <li>Larger room size compared to standard rooms, providing more space for relaxation.</li>
        <li>Access to common areas like the lobby, lounge, or garden.</li>
    </ul>
</div>
<router-outlet></router-outlet>