.order{
    /* background: url("https://live.staticflickr.com/6016/5954143369_45a8a191b0_b.jpg"); */
    
    height: 50%;
    width: 100%;
    position: absolute;
    z-index: -1;
    /* opacity: .; */
}