<div class="accomodation1 p-3">
    <table class="table table-striped table-hover table-light">
        <thead class="thead-dark">

            <tr>
                <th scope="col">Category</th>
                <th scope="col">Room Price</th>
                <th scope="col">Max Persons Allowed</th>
                <th scope="col">Extra Person Charge</th>
            </tr>
            <tr>
                <th colspan="4">Deluxe Rooms</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Deluxe Double Bedded</td>
                <td>1000 + GST(12%)</td>
                <td>2</td>
                <td>250</td>
            </tr>
            <tr>
                <td>Deluxe Triple Bedded</td>
                <td>1250 + GST(12%)</td>
                <td>3</td>
                <td>250</td>
            </tr>
            <tr>
                <td>Deluxe 4 Bedded</td>
                <td>1500 + GST(12%)</td>
                <td>4</td>
                <td>250</td>
            </tr>
            <tr>
                <td>Deluxe Double Bedded (AC)</td>
                <td>1550 + GST(12%)</td>
                <td>2</td>
                <td>300</td>
            </tr>
            <tr>
                <td>Deluxe Triple Bedded (AC)</td>
                <td>1800 + GST(12%)</td>
                <td>3</td>
                <td>300</td>
            </tr>
            <tr>
                <td>Deluxe 4 Bedded (AC)</td>
                <td>2500 + GST(12%)</td>
                <td>4</td>
                <td>300</td>
            </tr>
        </tbody>
        <thead class="thead-dark">
            <tr>
                <th scope="col" colspan="4">Economy Rooms (Non AC)</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Economy Double Bedded (AC)</td>
                <td>700 + GST(12%)</td>
                <td>2</td>
                <td>250</td>
            </tr>
            <tr>
                <td>Economy Triple Bedded (AC)</td>
                <td>900 + GST(12%)</td>
                <td>3</td>
                <td>250</td>
            </tr>
        </tbody>
    </table>
</div>
<img src="https://png.pngitem.com/pimgs/s/150-1508022_fancy-line-break-designs-hd-png-download.png" width="100%"
    height="300px" alt="">

<div class="rooms p-3" >
    <div class="card" style="width: 18rem;">
        <a routerLink="ddb">
            <img src="../assets/Deluxe_Doubble_bedded_(Non_AC).jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Deluxe Double Bedded (Non AC)<br> Rs.1000</p>
            </div>
        </a>
    </div>
    <div class="card" style="width: 18rem;">
        <a routerLink="dtb">
            <img src="../assets/Deluxe_Triple_Bedded_(Non_AC).jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Deluxe Triple Bedded (Non AC)<br> Rs.1250</p>
            </div>
        </a>
    </div>
    <div class="card" style="width: 18rem;">
        <a routerLink="dfb">
            <img src="../assets/Four bed Non AC.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Deluxe 4 Bedded (Non AC)<br> Rs.1500</p>
            </div>
        </a>
    </div>
    <div class="card" style="width: 18rem;">
        <a routerLink="ddbac">
            <img src="../assets/Premium_Deluxe_Double_Bedded_(AC).jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Deluxe Double Bedded (AC)<br> Rs.1550</p>
            </div>
        </a>
    </div>
    <div class="card" style="width: 18rem;">
        <a routerLink="dtbac">
            <img src="../assets/Deluxe_Triple_Bedded_(Non_AC).jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Deluxe Triple Bedded (AC)<br> Rs.1800</p>
            </div>
        </a>
    </div>
    <div class="card" style="width: 18rem;">
        <a routerLink="dfbac">
            <img src="../assets/four_bedded AC.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Deluxe 4 Bedded (AC)<br> Rs.2500</p>
            </div>
        </a>
    </div>
    <div class="card" style="width: 18rem;">
        <a routerLink="edb">
            <img src="../assets/Deluxe_Double_Bedded_(Non_AC).jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Economy Double Bedded (Non AC)<br> Rs.700</p>
            </div>
        </a>
    </div>
    <div class="card" style="width: 18rem;">
        <a routerLink="etb">
            <img src="../assets/Deluxe_Triple_Bedded_(Non_AC).jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Economy Triple Bedded (Non AC)<br> Rs.900</p>
            </div>
        </a>
    </div>

</div>

<router-outlet></router-outlet>