form{

    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 55%;
    /* border: 2px solid; */
    box-shadow: 1px 1px 1px 1px silver;
    padding: 50px;
}
a{
    text-decoration: none;
    color: black;
}
li{
    line-height:1cm;
}
