<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body >
    <div class="card-header"style="background-color: #99d668;">
      <h2 class="display-4">Welcome to G Stays, your home away from home</h2>
    </div>
    <!-- <h1 class="h1">Welcome to G's Stays</h1> -->
    <div id="carouselExampleFade" class="carousel slide carousel-fade mt-2" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../assets/Premium_Deluxe_Double_Bedded_(AC).jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../assets/Doubble_bedded_(AC).jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../assets/Deluxe_Triple_Bedded_(Non_AC).jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../assets/Deluxe_Double_Bedded_(Non_AC).jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

      <div class="about" >
        <h3 class="display-3 mt-3">About Us</h3>
        <div class="container-fluid container-hover">
            <h3>Welcome to G's Stays</h3>
           <p> At G's Stays, we believe in redefining hospitality, providing a home away from home for everyone, 
            from the heart of the middle class to the pinnacle of the upper class. Founded in 2022 by Goutham,
             G's Stays is not just a hotel; it's a residency experience designed to cater to diverse needs and preferences.</p>
          </div>
        <div class="container-fluid">
            <h3>Our Story</h3>
            <p>G's Stays is not just a business venture; it's a passion project born out of a desire to create a haven for travelers seeking comfort, luxury, 
                and affordability under one roof. With a humble beginning in 2022, Goutham envisioned a place where individuals from all walks of life could find solace and warmth.
              </p></div>
        <div class="container-fluid">
            <h3>Our Vision</h3>
         <p> At G's Stays, our vision is simple - to make hospitality accessible without compromising on quality. We understand t
            hat every guest is unique, and so are their needs.
            Our commitment is to provide an inclusive experience that resonates with the middle class and the upper class alike.
           </p> </div>
        <div class="container-fluid">
            <h3>Affordable Luxury</h3>
           <p> G's Stays is proud to offer a fusion of affordability and luxury. Our meticulously designed rooms and suites are crafted to ensure that every guest, regardless of their budget, can enjoy a stay that exceeds expectations
            . From cozy rooms for the budget-conscious to lavish suites for those seeking opulence, we have a space for everyone.
          </p></div>
        <div class="container-fluid">
            <h3>Personalized Service</h3>
           <p> Our dedicated team at G's Stays is committed to delivering personalized service that goes beyond expectations. From the moment you step through our doors, you will experience the warmth of genuine hospitality.
            We pride ourselves on anticipating your needs and creating an environment where you can unwind, relax, and make lasting memories.
         </p></div>
        <div class="container-fluid">
            <h3>Community-Centric Approach</h3>
           <p> Beyond being a hotel, G's Stays is a community. We actively engage with our guests, seeking feedback to continuously improve and tailor our services. Your satisfaction is our priority,
            and we strive to create an environment where you feel not just like a guest, but a valued member of the G's Stays family.
        </p> </div>
        <div class="container-fluid">
            <h3>Join Us on this Journey</h3>
           <p> Whether you're a frequent traveler, a family on vacation, or a business professional on the go,
            G's Stays invites you to join us on this journey of hospitality that transcends boundaries. 
            Experience the perfect blend of comfort, style, and affordability at G's Stays - where every stay is a story.
          </p> 
           <p> Welcome to G's Stays, your home away from home.</p>
        </div>
      </div>
      <div class="form-group mb-3" >
        <a routerLink="/accomodation"><button  class="btn btn-secondary btn-lg">Book Online now</button></a>
      </div>
     
      
</body>
</html>
<router-outlet></router-outlet>