
<div class="card"style="margin: auto; width: 65%;">
    <a [routerLink]="['/payment','ETB']" target="_blank" style="text-decoration: none; color: #212529; " >
        <img src="../assets/Deluxe_Triple_Bedded_(Non_AC).jpg"
            class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text text-center">Economy Triple Bedded (Non AC)<br> Rs.900</p>
        </div>
    </a>
</div>
<div class="card mb-3" style="margin: auto;width:fit-content;">
    <ul>
        <li>Three single beds or a combination of double and single beds with comfortable mattresses and clean, quality bedding.</li>
        <li>Windows for natural light and ventilation.</li>
        <li>Standard furniture, including chairs, a work desk, and possibly a seating area.</li>
        <li>Ample storage space such as a wardrobe and drawers.</li>
        <!-- <li>Mini refrigerator or minibar stocked with beverages and snacks.</li> -->
        <li>The room size may be smaller compared to higher-tier rooms, providing a cost-effective option.</li>
        <li>High-speed internet access and Wi-Fi connectivity.</li>
        <li>Private bathroom with a bathtub or a spacious shower.</li>
        <li>Telephone with direct dialing and voicemail services.</li>
        <li>USB charging ports and convenient electrical outlets.</li>
        <li><b>24-hour room service for guests who prefer dining in the comfort of their room.</b></li>
        <li>Depending on the hotel's location and design, the room may offer different views.</li>
        <li>Complimentary bottled water.</li>
        <li>Daily housekeeping and turndown service.</li>
        <li>Larger room size compared to standard rooms, providing more space for relaxation.</li>
        <li>Access to common areas like the lobby, lounge, or garden.</li>
    </ul>
</div>
<router-outlet></router-outlet>